<!-- image -->
<figure>
  <div class="card blue-grey teal lighten-5">
    <div class="card-content black-text">
      {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
      <figcaption>{{ if isset .Params "title" }}
          <span class="card-title black-text">{{ .Get "title" }}</span>{{ end }}
          {{ if or (.Get "caption") (.Get "attr")}}<p>
          {{ .Get "caption" }}
          {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
              {{ .Get "attr" }}
          {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
      </figcaption>
      {{ end }}
      {{ with .Get "link"}}<a href="{{.}}">{{ end }}
          <img class="responsive-img" src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
      {{ if .Get "link"}}</a>{{ end }}
    </div>
  </div>
</figure>
<!-- image -->
